     html, body {
        background-image:url(bg.jpg); 
        background-size:cover; 
        background-attachment: fixed; 
        font-family: cursive; 
        font-size: 18px; 
        color:black;}
    
    .clear {clear: both;}
    
    p {
        font-size: 1em;
        text-align: justify;
        line-height: 1.4em;
        margin-bottom: 2px;
        color: black;
    }
    
    #lil {
        width: 90%;
        max-width: 800px;
        background : #d8af62;
        margin: 30px auto;
    }
    
    .pic {
        padding: 25px 15px;
        border-bottom: 2px solid black;
        background: #e29024;
    }
    
    #nama h1 {
        font-size: 2em;
        font-weight: 700;
        font-family: cursive;
        margin-bottom: -6px;
    }
    
    #nama h2 {
        font-size: 1.5em;
        margin-left: 2px;
        font-family: cursive;
    }
    
    #content {
        padding: 0 58px;
    }
    
    #foto {
        width: 12.5%;
        float: left;
        margin-right: 100px;
    }
    
    #foto img {
        width: 175%;
        height: auto;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }
    
    #nama {
        float: left;
    }
    
    #cp {
        float: right;
    }
    
    section {
        border-top: 1px solid black;
        padding: 20px 0 0;
    }
    
    .contentop {
        float: left;
        width: 25%;
    }
    
    .contentbot {
        float: right;
        width: 70%;
    }
    
    .contentop h1 {
        font-style: italic;
        font-size: 1.5em;
    }
    
    .contentbot h4 {
        font-size: 1.1em;
    }
    
    .duration {
        font-size: 1em;
        font-style: italic;
    }